In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Load the libraries**

In [4]:
import pandas as pd
import plotly.express as px
import numpy as np
import plotly.graph_objects as go
import matplotlib.pylab as plt
import seaborn as sns
from tqdm import tqdm
import random 
import datetime
import joblib

**Load the data**

In [129]:
sales = pd.read_csv("/content/drive/My Drive/M5 Forcasting/sales_train_evaluation.csv")
price = pd.read_csv("/content/drive/My Drive/M5 Forcasting/sell_prices.csv")
cal = pd.read_csv("/content/drive/My Drive/M5 Forcasting/calendar.csv")

**Pick the random point for testing**

In [153]:
rand_data = random.choice(sales.values)
data_point = pd.DataFrame(data=rand_data.reshape(1,-1),columns=sales.columns)

In [154]:
data_point

                            id      item_id  dept_id  ... d_1939 d_1940 d_1941
0  FOODS_3_384_CA_4_evaluation  FOODS_3_384  FOODS_3  ...      0      0      0

[1 rows x 1947 columns]

In [132]:
#https://www.kaggle.com/anshuls235/time-series-forecasting-eda-fe-modelling/notebook#2.-Downcasting

def downcast(df):

   """
     to downcast the data and reduce the size of data
    """

    cols = df.dtypes.index.tolist()
    types = df.dtypes.values.tolist()

    for i,t in enumerate(types):

        if 'int' in str(t):
            if df[cols[i]].min() > np.iinfo(np.int8).min and df[cols[i]].max() < np.iinfo(np.int8).max:
                df[cols[i]] = df[cols[i]].astype(np.int8)
            elif df[cols[i]].min() > np.iinfo(np.int16).min and df[cols[i]].max() < np.iinfo(np.int16).max:
                df[cols[i]] = df[cols[i]].astype(np.int16)
            elif df[cols[i]].min() > np.iinfo(np.int32).min and df[cols[i]].max() < np.iinfo(np.int32).max:
                df[cols[i]] = df[cols[i]].astype(np.int32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.int64)

        elif 'float' in str(t):
            if df[cols[i]].min() > np.finfo(np.float16).min and df[cols[i]].max() < np.finfo(np.float16).max:
                df[cols[i]] = df[cols[i]].astype(np.float16)
            elif df[cols[i]].min() > np.finfo(np.float32).min and df[cols[i]].max() < np.finfo(np.float32).max:
                df[cols[i]] = df[cols[i]].astype(np.float32)
            else:
                df[cols[i]] = df[cols[i]].astype(np.float64)

        elif t == np.object:
            if cols[i] == 'date':
                df[cols[i]] = pd.to_datetime(df[cols[i]], format='%Y-%m-%d')
            else:
                df[cols[i]] = df[cols[i]].astype('category')

    return df

In [138]:

def preprocessing(data):
    """
     to preprocees the data and make it to supervised machine learning data
    """

    # to downcasast the data and reduce the sizes of data
    pre_data = downcast(data)
    cal_d = downcast(cal)
    price_d = downcast(price)

    #fill sales zero in forecast values of next 28 days sales
    for day in range(1942,1970):
       pre_data['d_' + str(day)] = 0
       pre_data['d_' + str(day)] = pre_data['d_' + str(day)].astype(np.int16)

    #combine the datasets into a single supervised machine learning dataset
    pre_data = pd.melt(pre_data, id_vars=[a for a in data_point.columns if a.find("id")!=-1],
                           value_vars=[a for a in data_point.columns if a.find("d_")==0], var_name='d', value_name='sales')
  
    pre_data = pd.merge(pre_data, cal_d, on='d', how='left')
    pre_data = pd.merge(pre_data, price_d, on=['store_id','item_id','wm_yr_wk'], how='left')

    #fil the missing sell price values by mean imputaion
    pre_data["sell_price"].fillna(pre_data.groupby("id")["sell_price"].transform("mean"), inplace=True)
    
    pre_data.drop(columns=["date","weekday"], inplace=True)
    pre_data['d'] = pre_data['d'].apply(lambda a: a.split('_')[1]).astype(np.int16)

    return pre_data

In [139]:
def feature_engineering(data):

  #label encoding features

   columns = list(data.columns)
   d_types = list(data.dtypes.values)

   for a, d_t in enumerate(d_types):
     if d_t.name == 'object':
       data[columns[a]] = data[columns[a]].astype("category") 

   d_types = list(data.dtypes.values)
   for a, d_t in enumerate(d_types):
     if d_t.name == 'category':
       data[columns[a]] = data[columns[a]].cat.codes
       
  #lag features
   lags = [28, 35, 42, 49, 56, 63, 70, 77]
   for lag in tqdm(lags):
      data["lag_" + str(lag)] = data.groupby("id")["sales"].shift(lag).astype(np.float16)   

  #rolling median features
   data['lag_28'] = data.groupby('id')['sales'].transform(lambda x: x.shift(28)).astype(np.float16) 
   data['rolling_median_7'] = data.groupby('id')['lag_28'].transform(lambda x: x.rolling(7).median())
   data['rolling_median_28'] = data.groupby('id')['lag_28'].transform(lambda x: x.rolling(28).median())
   data['rolling_median_50'] = data.groupby('id')['lag_28'].transform(lambda x: x.rolling(50).median())
   
   data.drop('sales',axis=1,inplace=True)
   data = data[data['d']>1050]

   return data

Forcasting the data point with best model

In [146]:
def final_fun(data_point):

  pre_data_point = preprocessing(data_point)
  fin_data_point = feature_engineering(pre_data_point)

  model = joblib.load("/content/drive/My Drive/M5 Forcasting/final_model")

  for d in range(1914, 1942):
      data_point['F_' + str(d)] = model.predict(a[a['d']==d])

  forecast_values = [a for a in data_point.columns if a.find("F_") == 0]

  return data_point[forecast_values]

Forcasted value

In [147]:
final_fun(data_point)

100%|██████████| 8/8 [00:00<00:00, 474.37it/s]

     F_1914    F_1915    F_1916  ...    F_1939    F_1940    F_1941
0  0.464629  0.327662  0.359832  ...  0.364692  0.438671  0.711514

[1 rows x 28 columns]